
/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}




/* SEZIONE TESTATA */
header {
  /* debug rules */
  background-color: white;
  margin: 10px 10px 10px;
  position: relative;
  /* end debug rules */
}




.imgheder img {

  height: 200px;
  width: 100vw;
  overflow: hidden;

}

#menu {

}


body {
  background-image: url(img/sfondo.png);
}



/* SEZIONE PRINCIPALE */
main {
  /* debug rules */
  margin-top: 10px;
  /* end debug rules */
/* background-color: lightblue; */
}

main::after {
  content: "";
  display: table;
  clear: both;
}



/*  SEZIONE WIDGETS LEFT */
.left {

 float: left;
 width: 25%;
}

.widgetleft {
  background-color: white;
  /* debug rules */
  margin: 0 10px 10px; /* serve
  /* end debug rules */

}

ul li{
  list-style: none;
  padding: 10px;
}

li b {
  font-size: 20pt;
}



/* SEZIONE CENTRALE */
#sectcentral {
  /* debug rules */


  /* end debug rules */
  float: left;
  width: 50%;
}

.blog {
  /* debug rules */
  background-color: white;
  height: 1300px;
  padding: 10%;
  text-align: center;

}

h2 {
  padding: 20px;
}



img {
  height: 300px;
  width: 500px;
  padding: 30px;
}




/* SEZIONE WIDGETS RIGHT */
.right {
    /* debug rules */

  height: 200px;
  /* end debug rules */
  float: left;
  width: 25%;
}

.widgetright {
  background-color: white;
  margin: 0 10px 10px;
  height: auto;
}
input {
  height: 40px;
  width: 210px;
  font-size: 15pt;
  padding: 10px;
  margin: 6px;
}
input, button {
  display: inline-block;
}

button {
  height: 30px;
  width: 50px;
  border-radius: 30%;
}

.widgetright p {
  padding: 15px;
  color: rgb(62, 156, 33);
}

div.widgetright a {
font-size: 22pt;
}



/* SEZIONE FOOTER */
footer {
    /* debug rules */
  background-color: yellow;
  height: 150px;
  margin-top: 20px;
    /* end debug rules */
}
